/* A mãe de todos:  */
.main_login{
    display: flex;
    height: 100vh;
}

/* Banner da esquerda: */
.banner{
    background-image: url("../../assets/img/fundoLogin.png ");
    flex: 1;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

/* Form de login da direita: */
.section_login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    background-color: #cc3f55;
}
.section_login img {
    width: 180px;
}

.form_login{
    color: white;
}
.form_login h1 {
    text-transform: uppercase;
    text-align: center;
}